
@charset "UTF-8";
<style type="text/css">
		.{
			
		}
		.head{
			margin : auto;
		    width : 40%;
		}
		.body{
			margin : auto;
		    width : 80%;
		}
		th, td {
		  text-align: center;
		}
		.div_page ul{
			display: flex;
			list-style: none;
			justify-content: center;
/* 			margin-left:auto;  */
/*  		 	margin-right:auto; */
		}
		img{
			width: 120;
			height: 50;
		}
		.main{
			width: 300;
			height: 100;
		}
	</style>